body{
    color: blue;
    text-align: center;
<<<<<<< HEAD
    font-family: fantasy;
=======
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera{
    text-align: right;
    color: chocolate;
    size: 20px;
    background:cadetblue;
    
>>>>>>> cabecera
}